{% extends 'base_template.html' %}
{% block title %}Energy Generation Page{% endblock %}
{% block breadcrumb %}Energy Generation{% endblock %}
{% block page_header_name %}Energy Generation{% endblock %}
{% block pagename %}energy_generation{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="container">
            <canvas id="c3chart_area"></canvas>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-muted">Backup Mode</h3>
                    <div>
                        <h5>Does not pull any power from battery unless there is power cut and renewable sources do not generate enough power.  </h5>
                    </div>
                    {% load custom_tags %}
                              {% for obj in Energy_mode %}
                              {% if obj.mode_id == "e1"%}
                              <button type="button"
                              class="btn btn-secondary" id="e2">
                              Disable
                             </button>
                              {% endif %}
                              {% if obj.mode_id != "e1"%}
                              <button type="button"
                                      class="btn btn-primary" id="e1" onclick="window.location.href = '/energy?type_data=e1'">
                                      Enable
                              </button>
                              {% endif %}

                              {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-muted">Self Powered</h3>
                    <div>
                        <h5> House is powered with self sufficient resources such as battery and renewable sources.  </h5>
                    </div>
                    {% load custom_tags %}
                              {% for obj in Energy_mode %}
                              {% if obj.mode_id == "e2"%}
                              <button type="button"
                              class="btn btn-secondary" id="e2">
                              Disable
                             </button>
                              {% endif %}
                              {% if obj.mode_id != "e2"%}
                              <button type="button"
                                      class="btn btn-primary" id="e2" onclick="window.location.href = '/energy?type_data=e2'">
                                      Enable
                              </button>
                              {% endif %}

                              {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-muted">Only Grid</h3>
                    <div>
                        <h5> Power is only pulled from the Grid </h5>
                    </div>
                    {% load custom_tags %}
                              {% for obj in Energy_mode %}
                              {% if obj.mode_id == "e3"%}
                              <button type="button"
                              class=" btn btn-secondary" id="e3">
                              Disable
                             </button>
                              {% endif %}
                              {% if obj.mode_id != "e3"%}
                              <button type="button"
                                      class="btn btn-primary" id="e3" onclick="window.location.href = '/energy?type_data=e3'">
                                      Enable
                              </button>
                              {% endif %}

                              {% endfor %}
                </div>
            </div>
        </div>
    </div>
            <!-- /. metric -->
            <!-- metric -->

            <!-- Comomize size based on pecentage-->
          <!--  <style>
              .Cylindre .NiMH {
                  height: calc(190px * .3);
               }
            </style>

            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-muted">Battery</h3>
                            <div>
                            </div>
                            <div class="Cylindre">
                                <div class="NiMH"></div>
                                <div class="PPole"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>-->

    <script>
    var ctx = document.getElementById('c3chart_area').getContext('2d');

    chartColor = "#FFFFFF";

    var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
    gradientStroke.addColorStop(0, '#80b6f4');
    gradientStroke.addColorStop(1, '#ff8000');

    var gradientFill = ctx.createLinearGradient(0, 200, 0, 50);
    gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
    gradientFill.addColorStop(1, "rgba(255, 255, 255, 0.24)");


    jQuery.ajax({
        url: '/energy_data',
        success: function (data) {
          energy_data(data);

        },
          async: false
    });


async function energy_data(data){

   var datasets = [];
   var labels = [];
   var label_flag = 0

   for(var i = 0; i < data.length; i++){
     var data_chart = [];

     for(var j = 0; j < data[i].data.length; j++){
       data_chart.push(data[i].data[j].Watts)
       if(label_flag == 0){
         labels.push(data[i].data[j].hour + ":00 - " + data[i].data[j].hour + ":59");
       }
     }
     label_flag++;

     rand_color = '#'+Math.floor(Math.random()*16777215).toString(16);

     datasets.push({label:data[i].name,borderColor: rand_color,pointBorderColor: rand_color,pointBackgroundColor: rand_color,pointHoverBackgroundColor: "yellow",pointHoverBorderColor: chartColor,pointBorderWidth: 1,
     pointHoverRadius: 7,pointHoverBorderWidth: 2,pointRadius: 5,fill: true,backgroundColor: gradientFill,borderWidth: 2,data:data_chart})

   }

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

  }
    </script>

{% endblock %}
