{% extends 'base_template.html' %}
{% block title %}Home Page{% endblock %}
{% block breadcrumb %}Home Page{% endblock %}
{% block page_header_name %}Home Page{% endblock %}
{% block pagename %}homepage{% endblock %}
{% block content %}
    {% load static %}
    <div class="dashboard-content">
        <!-- Rooms cards -->
        {% if Room %}
            <div class="row">
                {% for room in Room %}
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header d-flex">
                                <h4 class="mb-0">{{ room.room_name }}</h4>
                                <div class="dropdown ml-auto">
                                    <a class="toolbar" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                            class="material-icons">more_vert</i> </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'roompage' room.room_no %}">View More</a>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="room_no" value="{{ room.room_no }}"/>
                                            <input type="submit" name="remove_room" value="Remove Room"
                                                   class="dropdown-item"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="metric-value d-inline-block">
                                    <h1 class="room-cons-data_{{ room.room_no }} mb-1 text-primary">0.0 </h1>
                                </div>
                                <div class="metric-label d-inline-block float-right text-success">
                                    <i class=" hrChange_i_{{ room.room_no }} fa fa-fw fa-caret-up"></i><span class="hrChange_{{ room.room_no }}">__% </span>
                                </div>
                            </div>
                            <div id="energy_consumption_{{ rooms.room_no }}"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">There are no rooms available. Please click on the button below to add
                                one.</p>
                            <a class="btn btn-secondary" href="#"
                               data-toggle="modal"
                               data-target="#addRoom">Add Room</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- ============================================================== -->
        <!-- revenue  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-8 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Weekly Comparison of Energy Consumption</h5>
                    <div class="card-body">
                        <canvas id="weekChart" width="400" height="150"></canvas>
                    </div>
                    <div class="card-body border-top">
                        <div class="row">
{#                            <div class="offset-xl-1 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 p-3">#}
{#                                <h4> Today's Consumption: $2,800.30</h4>#}
{#                                <p>#}
{#                                </p>#}
{#                            </div>#}
                            <div class="offset-xl-1 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 p-3">
                                <h2 class="font-weight-normal mb-3"><span id="curWeek">0.0 kWh</span></h2>
                                <div class="mb-0 mt-3 legend-item">
                                    <span class="fa-xs text-primary mr-1 legend-title "><i
                                            class="fa fa-fw fa-square-full"></i></span>
                                    <span class="legend-text">Current Week</span></div>
                            </div>
                            <div class="offset-xl-1 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 p-3">
                                <h2 class="font-weight-normal mb-3">

                                    <span id="preWeek">0.0 kWh</span>
                                </h2>
                                <div class="text-muted mb-0 mt-3 legend-item"><span
                                        class="fa-xs text-secondary mr-1 legend-title"><i
                                        class="fa fa-fw fa-square-full"></i></span><span class="legend-text">Previous Week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-4 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Energy Consumed By Each Room</h5>
                    <div class="card-body">
                        <canvas id="room_energy_pie" width="325" height="280"></canvas>
                        <div class="chart-widget-list hide-item">
                            <p><span class="fa-xs text-primary mr-1 legend-title"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total sale  -->
            <!-- ============================================================== -->
        </div>
{#        <div class="row">#}
{#            <!-- ============================================================== -->#}
{#            <!-- top selling products  -->#}
{#            <!-- ============================================================== -->#}
{#            <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">#}
{#                <div class="card">#}
{#                    <h5 class="card-header">Top Selling Products</h5>#}
{#                    <div class="card-body p-0">#}
{#                        <div class="table-responsive">#}
{#                            <table class="table">#}
{#                                <thead class="bg-light">#}
{#                                <tr class="border-0">#}
{#                                    <th class="border-0">#</th>#}
{#                                    <th class="border-0">Image</th>#}
{#                                    <th class="border-0">Product Name</th>#}
{#                                    <th class="border-0">Product Id</th>#}
{#                                    <th class="border-0">Quantity</th>#}
{#                                    <th class="border-0">Price</th>#}
{#                                    <th class="border-0">Order Time</th>#}
{#                                    <th class="border-0">Customer</th>#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td>1</td>#}
{#                                    <td>#}
{#                                        <div class="m-r-10"><img src="assets/images/product-pic.jpg" alt="user"#}
{#                                                                 class="rounded" width="45"></div>#}
{#                                    </td>#}
{#                                    <td>Product #1</td>#}
{#                                    <td>id000001</td>#}
{#                                    <td>20</td>#}
{#                                    <td>$80.00</td>#}
{#                                    <td>27-08-2018 01:22:12</td>#}
{#                                    <td>Patricia J. King</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>2</td>#}
{#                                    <td>#}
{#                                        <div class="m-r-10"><img src="assets/images/product-pic-2.jpg" alt="user"#}
{#                                                                 class="rounded" width="45"></div>#}
{#                                    </td>#}
{#                                    <td>Product #2</td>#}
{#                                    <td>id000002</td>#}
{#                                    <td>12</td>#}
{#                                    <td>$180.00</td>#}
{#                                    <td>25-08-2018 21:12:56</td>#}
{#                                    <td>Rachel J. Wicker</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>3</td>#}
{#                                    <td>#}
{#                                        <div class="m-r-10"><img src="assets/images/product-pic-3.jpg" alt="user"#}
{#                                                                 class="rounded" width="45"></div>#}
{#                                    </td>#}
{#                                    <td>Product #3</td>#}
{#                                    <td>id000003</td>#}
{#                                    <td>23</td>#}
{#                                    <td>$820.00</td>#}
{#                                    <td>24-08-2018 14:12:77</td>#}
{#                                    <td>Michael K. Ledford</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>4</td>#}
{#                                    <td>#}
{#                                        <div class="m-r-10"><img src="assets/images/product-pic-4.jpg" alt="user"#}
{#                                                                 class="rounded" width="45"></div>#}
{#                                    </td>#}
{#                                    <td>Product #4</td>#}
{#                                    <td>id000004</td>#}
{#                                    <td>34</td>#}
{#                                    <td>$340.00</td>#}
{#                                    <td>23-08-2018 09:12:35</td>#}
{#                                    <td>Michael K. Ledford</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td colspan="8"><a href="#" class="btn btn-outline-light float-right">View#}
{#                                        Details</a></td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- ============================================================== -->#}
{#            <!-- end top selling products  -->#}
{#            <!-- ============================================================== -->#}
{#            <!-- ============================================================== -->#}
{#            <!-- revenue locations  -->#}
{#            <!-- ============================================================== -->#}
{#            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">#}
{#                <div class="card">#}
{#                    <h5 class="card-header">Revenue by Location</h5>#}
{#                    <div class="card-body">#}
{#                        <div id="locationmap" style="width:100%; height:200px"></div>#}
{#                    </div>#}
{#                    <div class="card-body border-top">#}
{#                        <div class="row">#}
{#                            <div class="col-xl-6">#}
{#                                <div class="sell-ratio">#}
{#                                    <h5 class="mb-1 mt-0 font-weight-normal">New York</h5>#}
{#                                    <div class="progress-w-percent">#}
{#                                        <span class="progress-value">72k </span>#}
{#                                        <div class="progress progress-sm">#}
{#                                            <div class="progress-bar" role="progressbar" style="width: 72%;"#}
{#                                                 aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-6">#}
{#                                <div class="sell-ratio">#}
{#                                    <h5 class="mb-1 mt-0 font-weight-normal">San Francisco</h5>#}
{#                                    <div class="progress-w-percent">#}
{#                                        <span class="progress-value">39k</span>#}
{#                                        <div class="progress progress-sm">#}
{#                                            <div class="progress-bar" role="progressbar" style="width: 39%;"#}
{#                                                 aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-6">#}
{#                                <div class="sell-ratio">#}
{#                                    <h5 class="mb-1 mt-0 font-weight-normal">Sydney</h5>#}
{#                                    <div class="progress-w-percent">#}
{#                                        <span class="progress-value">25k </span>#}
{#                                        <div class="progress progress-sm">#}
{#                                            <div class="progress-bar" role="progressbar" style="width: 39%;"#}
{#                                                 aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-6">#}
{#                                <div class="sell-ratio">#}
{#                                    <h5 class="mb-1 mt-0 font-weight-normal">Singapore</h5>#}
{#                                    <div class="progress-w-percent mb-0">#}
{#                                        <span class="progress-value">61k </span>#}
{#                                        <div class="progress progress-sm">#}
{#                                            <div class="progress-bar" role="progressbar" style="width: 61%;"#}
{#                                                 aria-valuenow="61" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- ============================================================== -->#}
{#            <!-- end revenue locations  -->#}
{#            <!-- ============================================================== -->#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">#}
{#                <!-- ============================================================== -->#}
{#                <!-- social source  -->#}
{#                <!-- ============================================================== -->#}
{#                <div class="card">#}
{#                    <h5 class="card-header"> Sales By Social Source</h5>#}
{#                    <div class="card-body p-0">#}
{#                        <ul class="social-sales list-group list-group-flush">#}
{#                            <li class="list-group-item social-sales-content"><span#}
{#                                    class="social-sales-icon-circle facebook-bgcolor mr-2"><i#}
{#                                    class="fab fa-facebook-f"></i></span><span class="social-sales-name">Facebook</span><span#}
{#                                    class="social-sales-count text-dark">120 Sales</span>#}
{#                            </li>#}
{#                            <li class="list-group-item social-sales-content"><span#}
{#                                    class="social-sales-icon-circle twitter-bgcolor mr-2"><i class="fab fa-twitter"></i></span><span#}
{#                                    class="social-sales-name">Twitter</span><span class="social-sales-count text-dark">99 Sales</span>#}
{#                            </li>#}
{#                            <li class="list-group-item social-sales-content"><span#}
{#                                    class="social-sales-icon-circle instagram-bgcolor mr-2"><i#}
{#                                    class="fab fa-instagram"></i></span><span class="social-sales-name">Instagram</span><span#}
{#                                    class="social-sales-count text-dark">76 Sales</span>#}
{#                            </li>#}
{#                            <li class="list-group-item social-sales-content"><span#}
{#                                    class="social-sales-icon-circle pinterest-bgcolor mr-2"><i#}
{#                                    class="fab fa-pinterest-p"></i></span><span#}
{#                                    class="social-sales-name">Pinterest</span><span#}
{#                                    class="social-sales-count text-dark">56 Sales</span>#}
{#                            </li>#}
{#                            <li class="list-group-item social-sales-content"><span#}
{#                                    class="social-sales-icon-circle googleplus-bgcolor mr-2"><i#}
{#                                    class="fab fa-google-plus-g"></i></span><span#}
{#                                    class="social-sales-name">Google Plus</span><span#}
{#                                    class="social-sales-count text-dark">36 Sales</span>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="card-footer text-center">#}
{#                        <a href="#" class="btn-primary-link">View Details</a>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- ============================================================== -->#}
{#                <!-- end social source  -->#}
{#                <!-- ============================================================== -->#}
{#            </div>#}
{#            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">#}
{#                <!-- ============================================================== -->#}
{#                <!-- sales traffice source  -->#}
{#                <!-- ============================================================== -->#}
{#                <div class="card">#}
{#                    <h5 class="card-header"> Sales By Traffic Source</h5>#}
{#                    <div class="card-body p-0">#}
{#                        <ul class="traffic-sales list-group list-group-flush">#}
{#                            <li class="traffic-sales-content list-group-item "><span#}
{#                                    class="traffic-sales-name">Direct</span><span class="traffic-sales-amount">$4000.00  <span#}
{#                                    class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i#}
{#                                    class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success">5.86%</span></span>#}
{#                            </li>#}
{#                            <li class="traffic-sales-content list-group-item"><span#}
{#                                    class="traffic-sales-name">Search<span class="traffic-sales-amount">$3123.00  <span#}
{#                                    class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i#}
{#                                    class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success">5.86%</span></span>#}
{#                                        </span>#}
{#                            </li>#}
{#                            <li class="traffic-sales-content list-group-item"><span#}
{#                                    class="traffic-sales-name">Social<span class="traffic-sales-amount ">$3099.00  <span#}
{#                                    class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i#}
{#                                    class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success">5.86%</span></span>#}
{#                                        </span>#}
{#                            </li>#}
{#                            <li class="traffic-sales-content list-group-item"><span class="traffic-sales-name">Referrals<span#}
{#                                    class="traffic-sales-amount ">$2220.00   <span#}
{#                                    class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light"><i#}
{#                                    class="fa fa-fw fa-arrow-down"></i></span><span#}
{#                                    class="ml-1 text-danger">4.02%</span></span>#}
{#                                        </span>#}
{#                            </li>#}
{#                            <li class="traffic-sales-content list-group-item "><span#}
{#                                    class="traffic-sales-name">Email<span class="traffic-sales-amount">$1567.00   <span#}
{#                                    class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light"><i#}
{#                                    class="fa fa-fw fa-arrow-down"></i></span><span#}
{#                                    class="ml-1 text-danger">3.86%</span></span>#}
{#                                        </span>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="card-footer text-center">#}
{#                        <a href="#" class="btn-primary-link">View Details</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- ============================================================== -->#}
{#            <!-- end sales traffice source  -->#}
{#            <!-- ============================================================== -->#}
{#            <!-- ============================================================== -->#}
{#            <!-- sales traffic country source  -->#}
{#            <!-- ============================================================== -->#}
{#            <div class="col-xl-3 col-lg-12 col-md-6 col-sm-12 col-12">#}
{#                <div class="card">#}
{#                    <h5 class="card-header">Sales By Country Traffic Source</h5>#}
{#                    <div class="card-body p-0">#}
{#                        <ul class="country-sales list-group list-group-flush">#}
{#                            <li class="country-sales-content list-group-item"><span class="mr-2"><i#}
{#                                    class="flag-icon flag-icon-us" title="us" id="us"></i> </span>#}
{#                                <span class="">United States</span><span class="float-right text-dark">78%</span>#}
{#                            </li>#}
{#                            <li class="list-group-item country-sales-content"><span class="mr-2"><i#}
{#                                    class="flag-icon flag-icon-ca" title="ca" id="ca"></i></span><span#}
{#                                    class="">Canada</span><span class="float-right text-dark">7%</span>#}
{#                            </li>#}
{#                            <li class="list-group-item country-sales-content"><span class="mr-2"><i#}
{#                                    class="flag-icon flag-icon-ru" title="ru" id="ru"></i></span><span#}
{#                                    class="">Russia</span><span class="float-right text-dark">4%</span>#}
{#                            </li>#}
{#                            <li class="list-group-item country-sales-content"><span class=" mr-2"><i#}
{#                                    class="flag-icon flag-icon-in" title="in" id="in"></i></span><span#}
{#                                    class="">India</span><span class="float-right text-dark">12%</span>#}
{#                            </li>#}
{#                            <li class="list-group-item country-sales-content"><span class=" mr-2"><i#}
{#                                    class="flag-icon flag-icon-fr" title="fr" id="fr"></i></span><span#}
{#                                    class="">France</span><span class="float-right text-dark">16%</span>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="card-footer text-center">#}
{#                        <a href="#" class="btn-primary-link">View Details</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- ============================================================== -->#}
{#            <!-- end sales traffice country source  -->#}
{#            <!-- ============================================================== -->#}
{#        </div>#}
    </div>
    <!-- ============================================================== -->
    <!-- modal  -->
    <!-- ============================================================== -->
    <div class="modal fade" id="addRoom" tabindex="-1" role="dialog" aria-labelledby="addRoomLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRoomLabel">Add Room</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label>Room Name:</label>
                        <input type="text" class="form-control form-control-lg" name="room_name"/>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                        <input type="submit" value="Add" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var maingraph_consumptions = "{{ consumption_rooms }}";
            var consumption_label = JSON.parse(maingraph_consumptions);
            var i = 0
            {% for rooms in Room %}
                var r = "room-cons-data_" + "{{ rooms.room_no}}";
                console.log(r);
                document.getElementsByClassName(r)[0].textContent = consumption_label[i] + " kWh";
                i++;
            {% endfor %}

            var maingraph_rooms = "{{ name_rooms| safe }}";
            maingraph_rooms = maingraph_rooms.replace(/'/g, '"');

            var room_label = JSON.parse(maingraph_rooms)
            console.log(maingraph_consumptions, maingraph_rooms);
            var ctx = document.getElementById("room_energy_pie").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',

                data: {
                    labels: room_label,
                    datasets: [{
                        backgroundColor: [
                            '#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6',
                            '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
                            '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
                            '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
                            '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
                            '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
                            '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
                            '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
                            '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
                            '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'
                        ],
                        data: consumption_label
                    }]
                },
                options: {
                    legend: {
                        display: true

                    }
                }

            });

            var previousHr = []

            function hourly_change() {
                var room = [{% for x in Room %}'{{ x.room_no|escapejs }}',{% endfor %}];
                for(var i = 0; i < room.length;i++){
                    jQuery.ajax({
                        url: '/room?room_id='+room[i],
                        success: function (data) {
                            var val = Math.round(data[data.length-1]['Watts']/60 * 100) / 100;
                            previousHr.push(val);
                        },
                     async: false
                    });

                }

                var index = 0

                {% for rooms in Room %}
                var x = "hrChange_" + "{{ rooms.room_no }}";
                var xi = "hrChange_i_" + "{{ rooms.room_no }}";
                var diffPercent = ((consumption_label[index]- previousHr[index])/previousHr[index])*100;
                if (diffPercent >0){
                    document.getElementsByClassName(x)[0].style.color = 'red';
                    document.getElementsByClassName(xi)[0].style.color = 'red';
                    document.getElementsByClassName(xi)[0].className = document.getElementsByClassName(xi)[0].className.replace( /(?:^|\s)fa-caret-up(?!\S)/g , ' ' );
                    document.getElementsByClassName(xi)[0].className += "fa-caret-down";
                }
                if (previousHr[index] == 0){
                    document.getElementsByClassName(xi)[0].className = document.getElementsByClassName(xi)[0].className.replace( /(?:^|\s)fa-caret-up(?!\S)/g , ' ' );
                    document.getElementsByClassName(xi)[0].className += "fa-caret";
                    document.getElementsByClassName(x)[0].style.color = 'blue';
                    document.getElementsByClassName(x)[0].textContent = "* Value not available";
                }else {
                    document.getElementsByClassName(x)[0].textContent = Math.round(Math.abs(diffPercent)) / 100 + "% ";
                }
                index++;
                {% endfor %}

            }

            hourly_change();

            function weeklyComparison() {
                var previousWeek = [];
                var thisWeek = [];
                var previousWeekTotal = 0;
                var thisWeekTotal = 0;

                jQuery.ajax({
                        url: '/prev_thisweek',
                        success: function (data) {
                            for (let j = 0; j < data[0]['previous_week'].length; j++) {
                                previousWeek.push(data[0]['previous_week'][j]['Watt']);
                                previousWeekTotal += parseFloat(previousWeek[j]);
                            }

                            for (let j = 0; j < data[1]['current_week'].length; j++) {
                                thisWeek.push(data[1]['current_week'][j]['Watt']);
                                thisWeekTotal += parseFloat(thisWeek[j]);
                            }
                            console.log(previousWeek + " Total : " + previousWeekTotal);
                            console.log(thisWeek + " Total : " + thisWeekTotal);
                        },
                     async: false
                    });

                document.getElementById('curWeek').textContent = thisWeekTotal +" kWh";
                document.getElementById('preWeek').textContent = previousWeekTotal +" kWh";

                var ctx = document.getElementById('weekChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                        datasets: [{
                            label: 'Current Week',
                            data: thisWeek,
                            backgroundColor: "rgba(89, 105, 255,0.5)",
                            borderColor: "rgba(89, 105, 255,0.7)",
                            borderWidth: 2
                        }, {
                            label: 'Previous Week',
                            data: previousWeek,
                            backgroundColor: "rgba(255, 64, 123,0.5)",
                            borderColor: "rgba(255, 64, 123,0.7)",
                            borderWidth: 2
                        }]
                    },
                    options: {
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                fontColor: '#71748d',
                                fontFamily: 'Circular Std Book',
                                fontSize: 14,
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    // Include a dollar sign in the ticks
                                    callback: function (value, index, values) {
                                        return '$' + value;
                                    }
                                }
                            }]
                        },

                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontFamily: 'Circular Std Book',
                                    fontColor: '#71748d',
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontFamily: 'Circular Std Book',
                                    fontColor: '#71748d',
                                }
                            }]
                        }

                    }
                });
            }

            weeklyComparison();


        });
    </script>
{% endblock %}